{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}Login | CRISP{% endblock %}

{% block content %}
<div style="width: 400px; margin: 100px auto;">
    <h2>{% trans 'CRISP Feed Service Login' %}</h2>
    {% if form.errors %}
    <p class="errornote">
        {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
    </p>
    {% endif %}

    <form action="{% url 'login' %}" method="post" id="login-form">
        {% csrf_token %}
        <div class="form-row">
            {{ form.username.errors }}
            {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="form-row">
            {{ form.password.errors }}
            {{ form.password.label_tag }} {{ form.password }}
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="submit-row">
            <input type="submit" value="{% trans 'Log in' %}">
        </div>
    </form>
</div>
{% endblock %}
